#container {
  mat-dialog-content {
    padding: 2rem;
    max-width: 400px;

    form {
      display: grid;
      gap: 1rem;
    }
  }

  mat-dialog-actions {
    width: 100%;

    button {
      width: 100%;
    }
  }
}
